
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4 {
    font-family: "Playfair Display", serif;
}

h5,h6,p {
    font-family: "Inter Tight", sans-serif;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    font-size: .9rem;
    font-weight: 300;
}

p {
    font-size: .85rem;
    font-weight: 300;
}

html {
    --main-background:  #F3F0EB;
    --secondary-background: #E5E2DD;
    --accent-color: #2D4D3C;

    --outline: #D3CEC5;

    --text: #30312F;
    --text-muted: #8f897f;
    --text-reversed: #F2F0ED;

    color: var(--text);
}

a {
    color: inherit;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #777;
    background: transparent;
    min-height: 4rem;
    max-height: 4rem;
    min-width: 8rem;
    max-width: 100%;
    border-radius: .5rem;
    font-size: .9rem;
    flex-grow: 1;
}

button.Primary {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--main-background);
}

span.Divider {
    height: 1px;
    width: 100%;
    background-color: var(--outline);
}